#header-area {
	margin: auto;
	text-align: center;
	width: 850px;
	background-image: url("cool-pngs-header-bg.png");
}

#entry-submit-area {
	margin: auto;
	text-align: center;
	padding: 10px;
	width: 850px;
	height: 850px;
	background-image: url("cool-pngs-bg.png");
	/*background-color: #000000;*/
}

.text-input-label {
	color: white;
	font-style: bold;
}

.input-explanation {
	margin: auto;
	width: 200px;
	height: 77px;
	overflow-wrap: break-word;
	background-color: black;
	color: white;
}

.input-explanation h3 {
	font-size: 0.85em;
}

.input-explanation p {
	font-size: 0.84em;
}

#png-preview-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}